body {
    background-color: #0f172a;
    color: #e5e7eb;
    font-family: Arial, sans-serif;
}

.container {
    width: 500px;
    margin: 100px auto;
    text-align: center;
    background: #1e293b;
    padding: 30px;
    border-radius: 10px;
}

h1 {
    margin-bottom: 20px;
}

input {
    width: 90%;
    padding: 12px;
    border-radius: 5px;
    border: none;
    margin-bottom: 15px;
    background: #334155;
    color: #e5e7eb;
}

input[type="file"] {
    padding: 10px;
    cursor: pointer;
}

button {
    padding: 12px 30px;
    background-color: #22c55e;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    color: white;
    font-size: 16px;
}

button:hover {
    background-color: #16a34a;
}

#response {
    margin-top: 15px;
    font-weight: bold;
}

a {
    color: #22c55e;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}